<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Contador</title>
  <style>
  body {
  	padding: 30px;
    text-align: center;
  }</style>

  <link href="style.css" rel="stylesheet" />
</head>

<body>
  <div id="app">
      <p><button v-on:click="counter += 1">Aumentar en 1</button></p>
      <p>Valor {{ counter }} </p>
      <p><button v-on:click="counter += 5">Aumentar en 5</button></p>
  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
  <script>
    var app = new Vue({
        el: '#app',
        data: {
            counter: 0,
        }
    })
</script>
</body>

</html>
