<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title></title>
  <style>
  body {
  	padding: 30px;
    text-align: center;
  }

  .preview-twitter{
    margin: 2%;
    padding: 20px;
    border-radius: 20px;
    height: 300px;
    width: 400px;
    border: 1px solid gray;
  }
  .preview-facebook{
    margin: 2%;
    padding: 20px;
    height: 300px;
    width: 400px;
    border: 1px solid gray;
  }
  .facebook__titulo{
    text-align: left;
    font-weight: bold;
    font-style: verdana;
    background-color: gray;
  }
  .twitter__titulo{
    text-align: left;
    font-weight: bold;
    font-style: verdana;
    background-color: gray;
  }

</style>

  <link href="style.css" rel="stylesheet" />
</head>

<body>
  <div id="app-6">
      <input v-model="titulo">
      <input v-model="descripcion">
      <input v-model="link">
      <input v-model="imagen">


      <div class="preview-twitter">
        <img :src="imagen">
        <div class="twitter__titulo">{{ titulo }}</div>
        <div class="twitter__descripcion">{{ descripcion }}</div>
        <div class="twitter__link">{{ link }}</div>
      </div>

      <div class="preview-facebook">
        <img :src="imagen">
        <div class="facebook__titulo">{{ titulo }}</div>
        <div class="facebook__descripcion">{{ descripcion }}</div>
        <div class="facebook__link">{{ link }}</div>
      </div>

  </div>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
  <script>
    var app = new Vue({
        el: '#app-6',
        data: {
            titulo: '',
            descripcion: '',
            link: '',
            imagen: ''
        }
    })
</script>
</body>

</html>
