<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Filtro Upper</title>

  <link href="style.css" rel="stylesheet" />
</head>
<style>

body {
	padding: 30px;
  text-align: center;
}
</style>

<body>


  <div id="app">
    <input v-model="foobar">
    <span>{{ foobar | Upper }}</span>
      <p>Escribe para que sean mayusculas.</p>
  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
  <script>
  new Vue({
  	el: '#app',

      data: {
      	foobar: 'ejemplo'
      },

      filters: {
      	Upper(value) {
          	return value.toUpperCase();
          }
      }
  });
</script>
</body>

</html>
