<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Filtro Currency</title>

  <link href="style.css" rel="stylesheet" />
</head>
<style>
body {
	padding: 30px;
  text-align: center;
}
</style>
<body>
  <div id="app">
  <input v-model="foobar">
  <p>Balance: {{foobar | currency}}</p>
  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
  <script>
  Vue.filter('currency', function (value) {
      return '$' + parseFloat(value).toFixed(2);
  });

  var vm = new Vue({
  	el: "#app",
  	data: {
  		foobar: 0,
  	},
  });
</script>
</body>

</html>
