<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Ghibli App</title>

    <link href="style.css" rel="stylesheet" />
  </head>

  <body>
	  <div id="app">
		<form @submit.prevent="enviarFormulario">
			Frase:
			<input type="text" id="frase" v-model="frase">
			
			<br/>
			
			Autor:
			<input type="text" id="autor" v-model="autor">
			
			<br/>

			<button type="submit">Enviar</button>
		</form>
		
		<div v-for="(item, index) in frases" @click="borrarFrase(index)">
			{{ item.frase }} - {{ item.autor }}
		</div>
	  </div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
      <script>
		new Vue({
			el: '#app',
			data: {
				frase: '',
				autor: '',
				frases: [
					{
						frase: 'Entre mas corriente mas ambiente',
						autor: 'Socrates',
					}
				]
			},
			methods: {
				enviarFormulario: function() {
					var datosChidos = {
						frase: this.frase,
						autor: this.autor
					}
					this.frases.push(datosChidos)
					
					// ejemplo de como ordenar los elementos:
					// var arrayNuevo = this.frases
					// arrayNuevo.push(datosChidos)
					// arrayNuevo.sort()
					// this.frases = arrayNuevo
				},
				borrarFrase: function(index) {
					this.frases.splice(index, 1)
				}
			},
		})
	  </script>
  </body>
</html>