<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Navbar</title>

  <link href="style.css" rel="stylesheet" />
</head>
<style>

body {
	padding: 30px;
  text-align: center;
}
nav a{
    display:inline-block;
    padding: 18px 30px;
    color:white;
    font-weight:bold;
    font-size:16px;
    text-decoration:none;
    line-height:1;
    text-transform: uppercase;
    background-color:black;
}
</style>

<body>


  <div id="app">
    <nav v-bind:class="active" v-on:click.prevent>
      <a href="#" class="home" v-on:click="makeActive('Inicio')">Inicio</a>
      <a href="#" class="projects" v-on:click="makeActive('Blog')">Blog</a>
      <a href="#" class="services" v-on:click="makeActive('Servicios')">Servicios</a>
      <a href="#" class="contact" v-on:click="makeActive('Contacto')">Contacto</a>
    </nav>

    <p><b>{{ active }}</b></p>
  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
  <script>
  var demo = new Vue({
    el: '#app',
    data: {
      active: 'Inicio'
    },
    methods: {
      makeActive: function(item){
          this.active = item;
      }
    }
  })
</script>
</body>

</html>
