<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/bootstrap.min.css">

  <title></title>
  <style>

</style>

  <link href="style.css" rel="stylesheet" />
</head>

<body>
  <div id="app">
   <todo-item v-for="pendiente in listaDePendientes"></todo-item>
  </div>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
  <script>

  Vue.component('todo-item',{
    props: ['todo'],
    template: <li></li>
  })

var app = new Vue({
  el: '#app',
  data: {
    listaDePendientes:[
      id: 0,

    ]
  }
})


</script>
</body>

</html>
