<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Contador</title>
  <style>
  body {
  	padding: 30px;
    text-align: center;
  }</style>

  <link href="style.css" rel="stylesheet" />
</head>

<body>
  <div id="app">
      <p>{{message}}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
  <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Codellege',
        },
        methods:{
          reverseMessage: function(){
            this.message = this.message.split('').reverse().join('')
          }
        },
    })
</script>
</body>

</html>
