.contacto{
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  margin: 1rem;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 12px;
  width: 1100px;
}
img{
margin: 1rem auto;
max-width: 100%;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.contacto__card{
  text-align: justify;

}
.acordeon__titulo{
cursor: pointer;
font-family: sans-serif;
text-align: center;
}
.acordeon__contenido{
display: none;
font-family: sans-serif;
font-size: 15px;
color: black;
}
.acordeon--activo{
font-weight: bold;
}
