<template>
  <q-page class='flex flex-center'>
      <div class='character__container' v-if="character">
        <div class='character__name'>{{ character.name }} </div>
        <div class="character__id"> {{ character.id }} </div>
        <img class='character__image' :src="character.thumbnail.path + '.' + character.thumbnail.extension">
        <div class="character__series" v-if="character.events.items.length > 0">
          <h2>Series</h2>
          <ul v-for='(comic, index) in character.series.items' :key='index'>
          <li>{{comic.name}}</li>
        </ul>
        </div>
        <h2>Eventos</h2>
        <div class="character__events" v-if="character.events.items.length > 0"><ul v-for='(event, index) in character.events.items' :key='index'>
          <li> {{event.name}} </li>
        </ul>
        </div>
      </div>
  </q-page>
</template>

<style>
.character__container{
  text-align: center;
  border: 1px transparent;
  padding-left: 10px;
  margin: 0 auto;
  font-size: 10px;
  font-weight: bold;
}
.character__image{
  width: 400px;
  height: 300px;
}
#logo {
    display: block;
    margin: 3.5rem auto;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
}
body {
    background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    color: white;
}
.marvel{
  padding: 400px;
  padding-bottom: 0px;
  padding-top: 0px;
}
</style>

<script>
export default {
  name: 'Page',

  // view Data
  data: () => ({
    publicApiKey: '260815ced2a38a9fc21995c7de5c780a',
    character: null
  }),

  // events
  mounted () {
    const config = {
      params: {
        apikey: this.publicApiKey
      }
    }
    this.$axios.get('https://gateway.marvel.com:443/v1/public/characters/' + this.$route.params.id, config)
      .then((res) => {
        console.log('Respuesta obtenida', res.data)
        this.character = res.data.data.results[0]
      })
      .catch((error) => {
        console.log('Algo malo pasó', error)
      })
  }
}
</script>
