<template>
  <q-page class="flex flex-center">
    <div class="marvel">
          <img id="logo"
             src="https://logorealm.com/wp-content/uploads/2016/07/Marvel-Logo.png"
             width="400"
             height="300"
             alt="Marvel">
             </div>
    <form @submit.prevent='pedirPersonajes()'>
      <q-input v-model="search" />
      <q-btn label="Search" />
    </form>
    <div v-for="(character, index) in characters" :key="index">
      <div class="character__container">
        <div class="character__name">
          <router-link :to='"characters/" + character.id'>{{ character.name }}</router-link>
        </div>
        <div class="character__id">  {{ character.id }}  </div>
        <img class="character__image" :src="character.thumbnail.path + '.' + character.thumbnail.extension">
      </div>
    </div>
  </q-page>
</template>

<style>
a{
  color: white;
}
input.col{
  color:white;
}
.character__container{
  text-align: center;
  border: 1px transparent;
  padding-left: 10px;
  margin: 0 auto;
  font-size: 10px;
  font-weight: bold;
}
.character__image{
  width: 400px;
  height: 300px;
}
#logo {
    display: block;
    margin: 3.5rem auto;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
}
body {
    background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    color: white;
}
.marvel{
  padding: 400px;
  padding-bottom: 0px;
  padding-top: 0px;
}
</style>

<script>
export default {
  name: 'PageIndex',

  data: () => ({
    publicApiKey: '260815ced2a38a9fc21995c7de5c780a',
    characters: [],
    search: null
  }),

  methods: {
    pedirPersonajes () {
      const config = {
        params: {
          apikey: this.publicApiKey
        }
      }
      if (this.search) {
        config.params.nameStartsWith = this.search
      }
      this.$axios.get('https://gateway.marvel.com:443/v1/public/characters', config)
        .then((res) => {
          console.log('Respuesta obtenida', res.data.data.results)
          this.characters = res.data.data.results
        })
        .catch((error) => {
          console.log('Algo malo pasó', error)
        })
    }
  },
  mounted () {
    this.pedirPersonajes()
  }
}
</script>
