<template>
  <q-page class="flex flex-center">
    <img alt="Quasar logo" src="~assets/quasar-logo-full.svg">
    <q-stepper ref="stepper">
  <!-- Step: -->
  <q-step default title="First Step" subtitle="Here we go">
    ...Step content, components, ...
  </q-step>

  <!-- Step: -->
  <q-step title="Step 2">...</q-step>

  <!-- Step: -->
  <q-step title="Step 3" subtitle="Review and submit">...</q-step>

  <!--
    Optional.

    "Globally" available Stepper navigation which means
    that it will be visible regardless of the current step.
    If we'd put QStepperNavigation under a QStep then we'd
    be using it for that step only.
  -->
  <q-stepper-navigation>
    <q-btn
      flat
      @click="$refs.stepper.previous()"
      label="Back"
    />
    <q-btn
      @click="$refs.stepper.next()"
      label="Next"
    />
  </q-stepper-navigation>
</q-stepper>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'Pagestepper'
}
</script>
