<template>
  <div><q-select
  type="radio"
  v-model="tabsModel"
  :options="tabsOptions"
></q-select>

<q-tabs v-model="tabsModel">
  <q-tab name="xtab-1" icon="message" slot="title" />
  <q-tab name="xtab-2" icon="account_box" slot="title" />
  <q-tab name="xtab-3" icon="mail" slot="title" />

  <q-tab-pane name="xtab-1">Tab One</q-tab-pane>
  <q-tab-pane name="xtab-2">Tab Two</q-tab-pane>
  <q-tab-pane name="xtab-3">Tab Three</q-tab-pane>
</q-tabs>
</div>
</template>
<script>
export default {
  data () {
    return {
      tabsModel: 'xtab-2',
      tabsOptions: [
        {
          label: 'Tab 1', value: 'xtab-1'
        },
        {
          label: 'Tab 2', value: 'xtab-2'
        },
        {
          label: 'Tab 3', value: 'xtab-3'
        }
      ]
    }
  }
}
</script>
