/*aspectos generales: bordes y color de fondo de calculadora*/

body{
  text-align: center;
}
/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/
.pantallita { width: 30%; text-align: center;
  height: 5%;
                  left: 23px;  padding: 0px 5px;
                 background-color: skyblue; font-family: "sans serif";
                 color: white;
                 overflow: hidden;}

/*botones normales: anchura y margen*/
.calculadora [type=button] {
  width: 20%;
  padding: 0;  }
/*botones especiales*/
.calculadora input.largo {
  color: red;
  width: 60px;
}
#clear{width: 20%;
padding: 0; }
#cero{
  background-color: black;
  color: white;
}
#uno{
  background-color: black;
  color: white;
}
#dos{
  background-color: black;
  color: white;
}
#tres{
  background-color: black;
  color: white;
}
#cuatro{
  background-color: black;
  color: white;
}
#cinco{
  background-color: black;
  color: white;
}
#seis{
  background-color: black;
  color: white;
}
#siete{
  background-color: black;
  color: white;
}
#ocho{
  background-color: black;
  color: white;
}
#nueve{
  background-color: black;
  color: white;
}
#mas{
  background-color: green;
  color: white;
}
#menos{
  background-color: red;
  color: white;
}
#por{
  background-color: orange;
  color: white;
}
#dividir{
  background-color: yellow;
  color: white;
}
#igual{
  background-color: brown;
  color: white;
}
#clear{
  background-color: red;
  color: white;
}
