body{
  background-color: #cccccc;
}
#forms{
text-align:center;
}
h1{
  font-family: 'Open Sans', sans-serif;
}
h3{
  font-family: 'Open Sans', sans-serif;
}
p{
  font-family: 'Montserrat', sans-serif;
}
#mensaje{
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
input[type=number] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
#sex{
  display: inline-block;
  text-align: left;
}
img{
  width: 100%;
}
