.boton-superior{
  color: gray;
  background:  white;
  border: 1px solid gray;
  text-decoration: none;
  border-radius: 2px;
  padding: 4px;
  float: right;
}
#subscribe{
  float: left;
}
#large{
text-align: center;
}

.general{
  margin: 0 auto;
  max-width: 1000px;
}
.header{
  column-count: 3;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:;
}

li {
  float: left;
}

li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
#lista{
  border-bottom: 1px solid gray;
}
.anuncio{
  background-color:#1a1a1a;
  color:white;
  border-style: hidden;
}
#anuncio3{text-decoration: none;
color: white;
margin-left: 50px;
}
#anuncio1,#anuncio2{margin-left: 50px;}
img.thumb {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
#twin1{
  margin-top: 10px;
  border: 1px solid gray;

}#twin2{
  margin-top: 10px;
  border: 1px solid gray;
  margin-left: 0px;
}
