<template>
  <q-page class="flex flex-center">
    <form class="gutter-sm" @submit.prevent='submit()'>
    <q-input v-model="usuario.name" float-label="Name" placeholder="Write your full name" />
    <div class="text-center">
    <q-btn icon="create" label="New item" type="submit" />
    </div>
    </form>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'UsersName',
  data: () => ({
    usuario: {
      name: '',
      email: '',
      address: {
        city: ''
      },
      phone: '',
      website: '',
      company: {
        name: ''
      }
    }
  }),
  methods: {
    submit () {
      this.$axios.post('https://jsonplaceholder.typicode.com/users', this.user)
        .then((res) => {
          console.log('Respuesta recibida', res)
        })
        .catch((error) => {
          console.error('Algo paso mal', error)
        })
    }
  }
}
</script>
