<template>
  <q-page class="flex flex-center">
    <q-table
      title="Table Title"
      :data="tableData"
      :columns="columns"
      row-key="name"
    />
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'UsersList',
  data: () => ({
    columns: [
      {
        name: 'name',
        required: true,
        label: 'Name',
        align: 'left',
        field: 'name',
        sortable: true
      },
      {
        name: 'COMPANY NAME',
        required: true,
        label: 'Company Name',
        align: 'left',
        field: (row) => { return row.company.name },
        sortable: true
      }
    ],
    tableData: []
  }),
  created () {
    console.log('melga')
    this.$axios.get('https://jsonplaceholder.typicode.com/users')
      .then((res) => {
        console.log('Respuesta obtenida', res.data)
        this.tableData = res.data
      })
      .catch((error) => {
        console.log('Algo malo pasó', error)
      })
  }
}
</script>
