#inicio{
  text-align: center;
  padding: 15px;
}
#blog{
  width: 309px;
  height: 200px;
  margin-left: 0px;
  text-align: left;
  border: 1px solid gray;
  border-top: 0px;
}
p{
  padding: 10px;
}
.borde{
  border: 1px solid gray;
  padding-left: 5px;
}
.fondo{
  background: gray;
  border: 1px solid gray;
}
